.planet-page__residents-division {
  margin-top: 50px;
}

.residents-division__filter {
  display: flex;
  flex-wrap: wrap;
}

.planet-page__filter-label {
  margin-right: 30px;
}

.residents-division__title {
  margin: 0;
  margin-left: -20px;
  margin-bottom: 20px;
  position: relative;
  color: #19e650;
}

.residents-division__title::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 100px;
  width: 76%;
  height: 2px;
  background-color: #19e650;
}

.planet-page__list-residents {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.planet-page__list-residents-item {
  width: 200px;
}

.planet-page__list-residents-title {
  color: lighten($color: #19e650, $amount: 20);
}
